<div class="section">
    <table>
        <tr>
            <td class="keys"><span class="key">F1</span></td>
            <td>Display / hide this help page (Not usable on Mac)</td>
        </tr>
        <tr>
            <td class="keys"><span class="key">Shift</span></td>
            <td>Expand / collapse the current node in the tree</td>
        </tr>
        <tr>
            <td class="keys"><span class="key">Ctrl</span> + <span class="key">Alt</span> + <span class="key">E</span></td>
            <td>Expand current node if closed and expand all its children</td>
        </tr>
        <tr>
            <td class="keys"><span class="key">Ctrl</span> + <span class="key">Alt</span> + <span class="key">P</span></td>
            <td>Focus the current preferred term</td>
        </tr>
        <tr>
            <td class="keys"><span class="key">Ctrl</span> + <span class="key">Alt</span> + <span class="key">A</span></td>
            <td>Focus the new non-preferred term</td>
        </tr>
        <tr>
            <td class="keys"><span class="key">Ctrl</span> + <span class="key">Alt</span> + <span class="key">H</span></td>
            <td>Focus the new hidden term</td>
        </tr>
        <!--tr>
            <td class="keys"><span class="key">Ctrl</span> + <span class="key">Alt</span> + <span class="key">D</span></td>
            <td>Deletes the content of the selected input.<br/>
                If it is an empty term, it will delete it instead.
            </td>
        </tr-->
        <tr>
            <td class="keys"><span class="key">Ctrl</span> + <span class="key">Alt</span> + <span class="key">C</span></td>
            <td>Open / close comments window of the selected concept</td>
        </tr>
        <!--tr>
            <td class="keys"><span class="key">Ctrl</span> + <span class="key">Alt</span> + <span class="key">O</span></td>
            <td>Open / close the source input of the selected term</td>
        </tr-->
        <tr>
            <td class="keys"><span class="key">Ctrl</span> + <span class="key">Alt</span> + <span class="key">Q</span></td>
            <td>Open a new tab to Quest about the current selected term</td>
        </tr>
        <tr>
            <td class="keys"><span class="key">Tab</span></td>
            <td>Cycle forward through the inputs (URL included)</td>
        </tr>
        <tr>
            <td class="keys"><span class="key">Shift</span> + <span class="key">Tab</span></td>
            <td>Cycle backward through the inputs (URL included)</td>
        </tr>
        <tr>
            <td class="keys"><span class="key">Ctrl</span> + <span class="key">Alt</span> + <span class="key">1</span></td>
            <td>Set status to "to do"</td>
        </tr>
        <tr>
            <td class="keys"><span class="key">Ctrl</span> + <span class="key">Alt</span> + <span class="key">2</span></td>
            <td>Set status to "in progress"</td>
        </tr>
        <tr>
            <td class="keys"><span class="key">Ctrl</span> + <span class="key">Alt</span> + <span class="key">3</span></td>
            <td>Set status to "translated"</td>
        </tr>
        <tr>
            <td class="keys"><span class="key">Ctrl</span> + <span class="key">Alt</span> + <span class="key">4</span></td>
            <td>Set status to "reviewed without comments"</td>
        </tr>
        <tr>
            <td class="keys"><span class="key">Ctrl</span> + <span class="key">Alt</span> + <span class="key">5</span></td>
            <td>Set status to "reviewed with comments"</td>
        </tr>
        <tr>
            <td class="keys"><span class="key">Ctrl</span> + <span class="key">Alt</span> + <span class="key">6</span></td>
            <td>Set status to "confirmed"</td>
        </tr>
        <tr>
            <td class="keys"><i class="fa fa-angle-up" aria-hidden="true"></i></td>
            <td>Go one concept above the selected concept</td>
        </tr>
        <tr>
            <td class="keys"><i class="fa fa-angle-down" aria-hidden="true"></i></td>
            <td>Go one concept below the selected concept</td>
        </tr>
        <tr>
            <td class="keys"><i class="fa fa-angle-left" aria-hidden="true"></i></td>
            <td>Go to the parent of the selected concept</td>
        </tr>
        <tr>
            <td class="keys"><i class="fa fa-angle-right" aria-hidden="true"></i></td>
            <td>Go to the first child of the selected concept</td>
        </tr>
    </table>
</div><!-- /.section -->
