<div class="section">
  <p class="explanation">
    When you write the translation of a preferred or non-preferred term, it is possible to specify the gender using the keyboard,
    without having to click on the different genders.</p>
  <p class="explanation">
    To do so, you have to <span>append your translation with "//", followed by the gender(s)</span> as specified below.
  </p>
  <p class="note">
    Please note that you can set multiple genders that way. For example, you could use "sfmn" to set the term as standard female, male and neutral.
  </p>
  <table>
    <tr>
      <th class="key">Input</th>
      <th>Effect</th>
    </tr>
    <tr>
      <td class="key">"sm"</td>
      <td>Sets the current term as the standard male, which is unique. The current term is also implied as being male.</td>
    </tr>
    <tr>
      <td class="key">"sf"</td>
      <td>Sets the current term as the standard female, which is unique. The current term is also implied as being female.</td>
    </tr>
    <tr>
      <td class="key">"m"</td>
      <td>Sets the current term as male.</td>
    </tr>
    <tr>
      <td class="key">"f"</td>
      <td>Sets the current term as female.</td>
    </tr>
    <tr>
      <td class="key">"n"</td>
      <td>Sets the current term as neutral.</td>
    </tr>
    <tr>
      <td class="key">"none"</td>
      <td>Remove all genders from the current term.</td>
    </tr>
  </table>
</div><!-- /.section -->
