<div class="right tutorial">
    <h2>Welcome to the Translation Platform</h2>
    <div class="section">
        <p>The Translation Management interface is divided in a left pane and a right pane. In the left pane you find the ESCO classification as a list or a hierarchy structured by ISCO code / SREF. In the right pane you see a section with the selected concept and a section in which translations can be added.</p>
    </div>
    <div class="section">
        <div class="icons">
            <i class="fa fa-angle-right"></i>
        </div>
        <h3>Browse Concepts</h3>
        <p>To begin translating, you can browse through the ESCO hierarchy and its concepts in the left pane by
        clicking the <i class="fa fa-chevron-right blue" aria-hidden="true"></i> to the left of each term. You can select specific concepts to add their
        translation. In addition, you can toggle between the view modes: either list or hierarchy. You can also
        use the search function above.</p>
    </div>
    <div class="section">
        <div class="icons">
            <i class="fa fa-angle-right"></i>
        </div>
        <h3>Identify Concepts’ Status</h3>
        <p>Concepts in the left pane’s classification are also identified by their status as to do, in progress, translated, reviewed without comments,
            reviewed with comments and confirmed. Following icons indicate the different statuses:</p>
        <ul>
            <li><i class="blank"></i> To do</li>
            <li><i class="fa fa-code-fork"></i> In progress</li>
            <li><i class="fa fa-pencil"></i> Translated</li>
            <li><i class="fa fa-file-text-o blue"></i> Reviewed without comments</li>
            <li><i class="fa fa-file-text blue"></i> Reviewed with comments</li>
            <li><i class="fa fa-check lightgreen"></i> Confirmed</li>
        </ul>
    </div>
    <div class="section">
        <h3>Select a concept</h3>
        <p>If you select a concept in the left pane’s classification, the concept appears in the right pane at the top of the screen. You may also check more information here, such as the concept’s description or non-preferred terms. This is located in a tab that can be expanded by clicking on the <i class="fa fa-chevron-down blue" aria-hidden="true"></i>, and collapsed in the
        same way.</p>
    </div>
    <div class="section">
        <h3>Translate a concept</h3>
        <p>To translate a concept, you work in the translation section in the right pane of the screen under the concept
        section.</p>
        <p>On top of this section, you can select the language in which you want to display the current concept terms by clicking on the <i class="fa fa-chevron-down" aria-hidden="true"></i>. The tab expands and collapses in the same way. Right next to this, you can indicate the status of the concept. This can be done by clicking on the <i class="fa fa-chevron-down" aria-hidden="true"></i> in the right corner of the box. The tab expands and collapses in the same way.</p>
        <p>In the translation section, you can add one occupation title/preferred term. When
        entering the occupations title/preferred term, you can indicate on the right of the term if it is ‘standard male’ or ‘standard
        female’ by clicking on the right option. Additionally, you may add as many non-preferred terms and hidden terms as needed. This is possible by
        clicking on the <i class="fa fa-plus lightgreen" aria-hidden="true"></i>. To delete a field, you click on the <i class="fa fa-minus gray" aria-hidden="true"></i> that can be found totally on the right of the field. The item colours red once the user hovers over the icon. For the non-preferred terms, you can also indicate if the term is ‘standard male’ ‘standard female’, ‘female’, ‘male’ or ‘neutral’ by clicking on the right option on the right of the term.</p>
        <p>For the preferred term, non-preferred term and the hidden terms, there is the possibility to use the magic wand by
        clicking on the [pencil icon] on the right of the field. Once clicked on it, a field expands in which machinery
        translations and other mapped classification terms are visible. You can now select the applicable term or just use it as an inspiration or suggestion.</p>
    </div>
    <div class="section">
        <div class="icons">
            <i class="fa fa-comment"></i>
        </div>
        <h3>Review/Add Comments</h3>
        <p>If you would like to view or make a comment on a particular concept, there is the comment section on the right pane of the screen,
            located next to the concept section. An <i class="fa fa-circle-thin" aria-hidden="true"></i> on the left of the comment
            indicates an open comment, a <span class="fa-stack circle-confirm" aria-hidden="true"><i class="fa fa-check fa-stack-1x lightgreen"></i><i class="fa fa-circle-thin fa-stack-2x"></i></span> indicates the comment is closed.</p>
    </div>
</div>
