<div class="settings">
    <div class="left">
        <ul class="menu">
            <li>{{#link-to "admin"}}Dashboard{{/link-to}}</li>
            <li>{{#link-to "admin"}}Users{{/link-to}}</li>
            <li>{{#link-to "admin"}}Groups{{/link-to}}</li>
            <li>{{#link-to "admin.import"}}Import{{/link-to}}</li>
            <li>{{#link-to "admin.notification"}}Notification{{/link-to}}</li>
        </ul>
    </div>
    <div class="right">
        <div class="detail">
            {{outlet}}
        </div>
    </div>
</div>
