<div class="form set-language">
    <h1>Please select the (default) language for the terms you will provide.</h1>
    <form {{action "updateProfile" on="submit"}}>
        {{language-selector setLanguage="setLanguage"}}
    </form>
</div>
