<div class="right">
    <div class="detail">
      <p>XML files can be imported <u><a href={{urlimport}}>here</a></u>.</p>
      <br>
      <p>To only validate the file without importing it, upload it <u><a href={{urlvalidate}}>here</a></u>.</p>
    </div>
</div>
